package home 

import "github.com/dkr290/go-events-booking-api/pic-dream-api/view/layout"

templ Index() {
    @layout.App(false){
	  <div class="text-5xl text-primary">hello from home page</div>
	}
}