package navigation

templ Navigation() {
<div class="navbar bg-base-100 border-b border-teal-900 text-center flex flex-col items-center">
	<div class="flex-1 text-center">
		<a class="text-2xl font-mono text-primary">Snippet APP</a>
	</div>
	<div class="flex-none">
		<ul class="menu menu-horizontal px-1">
			// in templ always have the access to ctx context
		</ul>
	</div>
</div>
}
