{{ define "title"}}Snippet #{{.Snippet.ID}}{{ end }} {{ define "main"}} {{ with
.Snippet }}
<main class="container my-5">
  <div class="card shadow-sm border-0">
    <div class="card-header bg-primary text-white">
      <strong>{{.Title}}</strong>
      <span class="float-end">#{{.ID}}</span>
    </div>
    <div class="card-body">
      <pre><code>{{.Content}}</code></pre>
    </div>
    <div class="card-footer text-muted">
      <div class="d-flex justify-content-between">
        <time>Created: {{.Created | humanDate}}</time>
        <time>Expires: {{.Expired | humanDate}}</time>
      </div>
    </div>
  </div>
</main>
{{ end }} {{ end }}
