package userauth

import "github.com/dkr290/go-events-booking-api/pic-dream-api/view/layout"



templ LogIn(){
    @layout.App(false){
        <div class="flex justify-center mt-[calc(100vh-100vh+8rem)]">
          <div class="max-w-screen-sm w-full bg-base-300 p-8 rounded-xl">
            <h1>LogIn to Pic API</h1>
          </div>
        </div>
    }
}