package home

import "github.com/dkr290/go-advanced-projects/go-snippets-templ/view/layout"

templ Index() {
	@layout.App(true) {
		<div class="text-5xl text-sky-500">hello from home page test</div>
	}
}
