name: Build and Push

on:
  workflow_call:
    inputs:
      docker_image_name:
        required: true
        type: string
      version:
        required: true
        type: string
      folder:
        required: true
        type: string
      name:
        required: false
        type: string
        default: ""
      dockerfileName:
        required: false
        type: string
        default: "Dockerfile"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    name: ${{ inputs.name }}
    steps:
      - uses: actions/checkout@v3

      - name: Docker version and build
        run: |
          cd ${{ inputs.folder }}
          ls -l
          docker -v
          docker build --build-arg BUILD_REF=${{ inputs.version }} --build-arg BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"` . -f ${{ inputs.dockerfileName }} -t ${{ inputs.docker_image_name }}
          docker images -a

      - if: github.event_name != 'pull_request'
        name: Docker login and push
        run: |
          echo "${{ github.token }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker tag ${{ inputs.docker_image_name }} ${{ inputs.docker_image_name }}:${{ inputs.version }}
          docker push ${{ inputs.docker_image_name }}:${{ inputs.version }}

      - name: docker login and push
        id: push-patched-image
        run: |
          echo "${{ github.token }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          if [ "${{ env.push_docker_patch }}" == "false" ]; then
            docker tag ${{ inputs.docker_image_name }} ${{ inputs.docker_image_name }}:${{ inputs.version }}
            docker push ${{ inputs.docker_image_name }}:${{ inputs.version }}
          else 
            docker tag ${{ inputs.docker_image_name}}-patched ${{ inputs.docker_image_name }}:${{ inputs.version }}
            docker push ${{ inputs.docker_image_name }}:${{ inputs.version }}
          fi
