{{ define "title"}}About{{ end }} {{ define "main"}}
<main class="container my-5">
  <div class="row">
    <div class="col-lg-8 mb-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="mb-0">About Internal PyPI Repository</h2>
        </div>
        <div class="card-body">
          <h3 class="card-title">How to use it</h3>
          <ul>
            <li>Build - hatch build</li>
            <li>
              Publish - hatch publish -u username -a password -r
              http://internal-pypi-url/upload
            </li>
            <li>
              Install - pip install --index-url
              http://username:password@internal-pypi-url/simple/ --no-cache-dir
              my_package==0.2.0
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
